<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56580830373-bss4u2f8001uvce1kk6u90a0aeddf2kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56580830373-bss4u2f8001uvce1kk6u90a0aeddf2kc</string>
	<key>API_KEY</key>
	<string>AIzaSyAz5cvBrehjspU-11WBART0h_OPl-js2ng</string>
	<key>GCM_SENDER_ID</key>
	<string>56580830373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrFixExpert.mrFixExpert</string>
	<key>PROJECT_ID</key>
	<string>mrfix-sos---platform</string>
	<key>STORAGE_BUCKET</key>
	<string>mrfix-sos---platform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56580830373:ios:37d95399745e09577ec94c</string>
</dict>
</plist>